@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  font-family: "Lato", sans-serif;
}

body {
  position        : relative;
  margin          : 0;
  padding         : 0;
  min-height      : 100vh;
  background-color: #2f3232;
  overflow-y      : scroll;
}

h1 {
  z-index   : 2;
  margin    : 0;
  padding   : 30px;
  text-align: center;
  font-size : 5em;
  width     : 100%;
  box-sizing: border-box;
  background: -moz-linear-gradient(top,
      rgba(47, 50, 50, 1) 0%,
      rgba(47, 50, 50, 1) 75%,
      rgba(47, 50, 50, 0) 100%);
  background: -webkit-linear-gradient(top,
      rgba(47, 50, 50, 1) 0%,
      rgba(47, 50, 50, 1) 75%,
      rgba(47, 50, 50, 0) 100%);
  background: linear-gradient(to bottom,
      rgba(47, 50, 50, 1) 0%,
      rgba(47, 50, 50, 1) 75%,
      rgba(47, 50, 50, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f3232', endColorstr='#002f3232', GradientType=0);
}

.bullet {
  display         : block;
  width           : 20px;
  height          : 20px;
  border-radius   : 50%;
  border-width    : 4px;
  box-sizing      : border-box;
  border-style    : solid;
  margin          : 10px;
  animation       : fadein 0.4s forwards ease;
  z-index         : 1;
  background-color: #D4C6AC;
}

ul {
  list-style: none;
  display   : inline-flex;
  padding   : 0;
}

.pi {
  padding       : 0;
  flex-direction: column;
  margin        : 0;
}

.pi-lines {
  display       : inline-flex;
  flex-direction: column;
  margin        : 0 auto 100px;
  position      : relative;
}

li {
  text-align: left;
}

.line {
  position        : absolute;
  height          : 0;
  border-style    : solid;
  border-width    : 2px;
  border-radius   : 2px;
  z-index         : 0;
  animation       : fadein 0.4s forwards ease;
  width           : 30px;
  border-color    : transparent;
  transform-origin: left;
}

.lines {
  display       : inline-flex;
  flex-direction: column;
  padding       : 0;
  margin        : 0;
}